$material-indigo-50     : #E8EAF6;
$material-indigo-100    : #D7E8FA;
$material-indigo-200    : #B0CFF5;
$material-indigo-300    : #83AAE2;
$material-indigo-400    : #5E85C5;
$material-indigo-500    : #30569F;
$material-indigo-600    : #234288;
$material-indigo-700    : #183072;
$material-indigo-800    : #0F215C;
$material-indigo-900    : #09164C;
$font-family-sans-serif : "Inter", "Helvetica", "Apple Color Emoji", "Arial", "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol";
$color                  : $material-indigo-500;
$color-muted            : $material-indigo-200;
