@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import "./_vars.styl"

html, body, :global(#__next)
  height: 100%
  margin: 0
  width: 100%

*
  box-sizing border-box
  font-family font-family-sans-serif

  &:active
    -webkit-tap-highlight-color transparent


